//compono-468203661337.d.codeartifact.ap-southeast-2.amazonaws.com/npm/payloadcms/:_authToken=${CODEARTIFACT_AUTH_TOKEN}
@payloadcms:registry=https://compono-468203661337.d.codeartifact.ap-southeast-2.amazonaws.com/npm/payloadcms/
legacy-peer-deps=true